@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --bg-color: #E5E5E5;
    --title-txtcolor: #000;
    --primary-color: #0A3871;
    --secondary-color: #495057;
    --terciary-color: #FFF;

    --success-color: rgb(23, 85, 23);
    --error-color: rgb(149, 4, 4);

    --btn-primary-bgcolor: #0A3871;
    --btn-primary-text: #FFF;
    --btn-secondary-bgcolor: #E5E5E5;
    --btn-secondary-text: #0A3871;

    --footer-bgcolor : #252424;
    --footer-textcolor: #E5E5E5;
    --footer-lnkhcolor: #FFF;       /*  Hover Color for Links  */
    --footer-lnkvcolor: #CCC;       /*  Color for Visited Links  */
}

[data-theme="dark"] {
    --bg-color: #090909;
    --title-txtcolor: #d4d3d3;
    --primary-color: #cfd6dd;
    --secondary-color: #86898b;
    --terciary-color: #FFF;

    --success-color: rgb(3, 182, 3);
    --error-color: rgb(207, 6, 6);

    --btn-primary-bgcolor: #727579;
    --btn-primary-text: #FFF;
    --btn-secondary-bgcolor: #E5E5E5;
    --btn-secondary-text: #090909;
    
    --footer-bgcolor : #423f3f;
    --footer-textcolor: #E5E5E5;
    --footer-lnkhcolor: #FFF;       /*  Hover Color for Links  */
    --footer-lnkvcolor: #CCC;       /*  Color for Visited Links  */
}

body {
    background-color: var(--bg-color);
    font-size: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--footer-bgcolor);
    position: sticky;
    bottom: 0px;
    margin-top: 2%;
    padding:1% 0 1% 0;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--footer-textcolor);
    opacity: 0;
    transition: opacity 0.5s ease;
}

footer:hover {
    opacity: 1;
    font-weight: 600;
}

footer a:link {
    margin:0 0.5% 0 0.5%;
    font-weight: 800;
    font-size: 1rem;
    color:var(--footer-textcolor);
    text-decoration: none;
}

footer a:hover {
    font-size: 1.25rem;
    color: var(--footer-lnkhcolor);
}

footer a:visited {
    color: var(--footer-lnkvcolor);
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Courier New', Courier, monospace;
    text-shadow: var(--footer-bgcolor) 2px 2px 4px;
    display: inline;
    color: var(--title-txtcolor);
}

textarea {
    width: 75%;
    border: 0px;
    margin:2px;
    resize: none;
    justify-content: space-around;
    color: var(--primary-color);
    font-size: 2rem;
    background-color: transparent;
}

.antialiased {
    -webkit-font-smoothing: antialiased;
}

.actionBar {
    display: flex;
    justify-content: end;
    margin: 2% 2% 0.5%;
    gap: 1%;
}

.topBar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topBar img {
    display: flex;
    max-width: 15rem;
    height: auto;
}

.workArea {
    margin-bottom: 2%;
}

.textInstruction {
    font-weight:400;
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    line-height: 1.25rem;
    display: block;
    color:var(--secondary-color);
    margin:2% 0 2% 0;
}

.btn {
    border-radius: 0.75rem;
    padding: 1.75% 3%;
    margin: 1%;
    border: 1px var(--btn-primary-bgcolor) solid;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 40%;
}

.btn i {
    margin-right: 4%;
}

.btn-primary {
    background-color: var(--btn-primary-bgcolor);
    color: var(--btn-primary-text);
}

.btn-secondary {
    background-color: var(--btn-secondary-bgcolor);
    color: var(--btn-secondary-text);
}

.disabled {
    cursor: not-allowed;
    opacity: 50%;
}

.clearMsgBtn {
    position: relative;
    top:0px;
    margin-bottom: 5%;
    width: 100%;
}

.copyMsgDiv {
    position: absolute;
    bottom:2%;
    left: 4.25%;
    width: 90%;
}

.copyMsgDiv button {
    width: 100%;
    cursor: pointer;
}

.alertBox {
    position:absolute;
    top: 10px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    color: var(--terciary-color);
    font-weight: 600;
    font-size: 0.75rem;
    padding: 1rem;
    width: 50%;
    text-align: center;
    z-index: 40;
    display: none;
    animation: fadeOut 3s;
}

.success{
    display: inline;
    background-color: var(--success-color);
}

.error {
    display: inline;
    background-color: var(--error-color);
}

@keyframes fadeOut {
    0% { opacity: 1; }
    50% { opacity: 0.65; }
  100% { opacity: 0; }
}

#secretBox {
    background-color:var(--terciary-color);
    width: 75%;
    margin:auto;
    padding:1.5%;
    border-radius: 1.2rem;
    box-shadow: 0 12px 20px 0 rgba(0,0,0,0.2), 0 12px 26px 0 rgba(0,0,0,0.19);
    justify-content: center;
    line-height: 2rem;
    position: relative;
}

#secretBox img {
    display: none;
}

#secretBox span {
    line-height: 2rem;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
}

#secretBox p {
    line-height: 1.5rem;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
}

#secretBox button {
    display: block;
}

#secretDiv {
    margin-bottom: 10%;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #090909;
        --title-txtcolor: #d4d3d3;
        --primary-color: #cfd6dd;
        --secondary-color: #86898b;
        --terciary-color: #FFF;

        --success-color: rgb(3, 182, 3);
        --error-color: rgb(207, 6, 6);

        --btn-primary-bgcolor: #727579;
        --btn-primary-text: #FFF;
        --btn-secondary-bgcolor: #E5E5E5;
        --btn-secondary-text: #090909;

        --footer-bgcolor : #423f3f;
        --footer-textcolor: #E5E5E5;
        --footer-lnkhcolor: #FFF;       
        --footer-lnkvcolor: #CCC;       
    }
} */

@media (min-width:481px) and (max-width:768px) {
    .btn {
        padding: 1%;
    }
}

@media (min-width:769px) and (max-width:1280px) {
    .topBar img {
        margin-left:-1%;
    }
}

@media (min-width:1281px) {
    main {
        flex-direction: row;
    }

    main div {
        width: 65%;
        gap: 2px;
        margin: auto;
    }

    #secretBox {
        width: 30%;
        justify-content: center;
        height: 92vh;
        margin: 2%;
        border: 1px var(--title-txtcolor) solid;
    }

    #secretBox img {
        display: block;
        margin: auto;
        margin-bottom: 5%;
        width: 40%;
        height: auto;
    }
}

