@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body{
    background-color: #E5E5E5;
    font-size: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #252424;
    position: sticky;
    bottom: 0px;
    margin-top: 2%;
    padding:1% 0 1% 0;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    color:#E5E5E5;
    opacity: 0.1;
}

footer:hover {
    opacity: 1;
    font-weight: 600;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Courier New', Courier, monospace;
    text-shadow: #000 2px 2px 4px;
    display: inline;
}

textarea {
    width: 75%;
    border: 0px;
    margin:2px;
    resize: none;
    justify-content: space-around;
    color: #0A3871;
    font-size: 2rem;
    background-color: transparent;
}

.antialiased {
    -webkit-font-smoothing: antialiased;
}

.topBar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topBar img {
    display: flex;
    max-width: 20rem;
    height: auto;
}

.textInstruction {
    font-weight:400;
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    line-height: 1.25rem;
    display: block;
    color:#495057;
}

.btn {
    border-radius: 0.4rem;
    padding: 1.75%;
    margin: 1%;
    border: 1px #0A3871 solid;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-primary {
    background-color: #0A3871;
    color: #FFF;
}

.btn-secondary {
    background-color: #E5E5E5;
    color: #0A3871;
}

.disabled {
    cursor: not-allowed;
    opacity: 50%;
}

#secretBox {
    background-color:#FFF;
    width: 75%;
    margin:auto;
    padding:1.5%;
    border-radius: 1.2rem;
    box-shadow: 0 12px 20px 0 rgba(0,0,0,0.2), 0 12px 26px 0 rgba(0,0,0,0.19);
    justify-content: center;
    line-height: 2rem;
}

#secretBox img {
    display: none;
}

#secretBox span {
    line-height: 2rem;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
}

#secretBox p {
    line-height: 1.5rem;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
}

@media screen, (min-width:481px) and (max-width:768px) {
    .btn {
        padding: 1%;
    }
}

@media screen, (min-width:769px) and (max-width:1280px) {
    
}

@media screen and (min-width:1281px) {
    #secretBox img {
        display: block;
        margin: auto;
        width: 40%;
        height: auto;
    }
}